<%- include(`header`) -%>

<h2>This is the about page</h2>

<p>
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, quas?
	Molestiae aliquam sit error incidunt, eos animi non. Dolorum eius nobis
	eveniet dolorem consectetur quas maxime dolores eligendi totam cumque.
</p>

<%- include(`footer`) -%>
